<html>
	<head>
	<link rel="stylesheet" href="static/tabs.css" type="text/css" media="screen" />
	<script src="static/jquery-1.7.1.min.js"></script>
	<script src="static/jquery.ba-bbq.min.js"></script>
	<script src="static/tabs.js"></script>
	</head>
<body>
	<div id="header">
          <select id="split_by_switcher" class="right" name=select1>
	  <option> <a href="#"></a> </option>
	  {% for colname in colNames %}
	   <option> <a href="#">{{ colname }}</a> </option>
	  {% endfor %}
	  </select>
	</div>
	<div id="the_tabs">
	<div id="tabs_container">
	  <ul id="tabs">
	  {% for graph in graph_filenamestubs %}
	    <li {% if loop.first %} class="active" {% endif %}>
              <a href="#{{ graph }}"> {{graph}} </a>
            </li>
          {% endfor %}
	  </ul>
	</div>
	<div id="tabs_content_container">
	  {% for graph in graph_filenamestubs %}
	  <div id="{{ graph }}" class="tab_content" {% if loop.first %} style="display: block;" {% endif %}>
	    <a href="{{ dirname }}/{{ graph }}.{{ ext }}"><embed src="{{ dirname }}/{{ graph }}.{{ ext }}"></img></a>
	  </div>
	  {% endfor %}
	</div>
	</div>
</body>
</html>

